@import url(../index.css);

/* Overall Page Layout */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-default-bg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 24px;
}

/* Login Form Container */
.auth-container {
  background-color: var(--white);
  padding: 80px 120px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login Form Header */
.auth-header {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  margin-bottom: 12px;
}

.auth-header h1 {
  font-size: 36px;
  color: var(--title);
  margin-bottom: 8px;
}

.auth-header p {
  font-size: 16px;
  color: var(--subtitle);
}

/* Form Styling */
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding: 0 8px;
  margin: 0 auto;
  gap: 12px;
}

.form-group {
  width: 100%; /* Fixed width relative to parent container */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0;
  gap: 4px;
}

.form-label {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
  color: var(--subtitle);
}

.form-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.form-input {
  flex-grow: 1; /* Input takes up remaining space */
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  border: none;
  border: 1px solid var(--border);
  border-radius: 999px;
  font-size: 16px;
  color: #1e293b;
  background-color: var(--white-shadow);
  transition: background-color 0.2s;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.form-input:focus {
  outline: none;
  background-color: var(--white);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.form-input::placeholder {
  color: var(--placeholder-grey);
  font-size: 14px;
}

.password-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  padding: 0 4px;
  border: none;
  background-color: transparent;
  color: var(--subtitle);
  cursor: pointer;
}

/* Login Button */
.auth-button {
  align-content: center;
  justify-content: center;
  width: auto;
  margin: 12px 0;
  padding: 14px 28px;
  border: none;
  border-radius: 999px;
  background-color: var(--dark-navy);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.auth-button:active {
  background-color: var(--darker-navy);
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2);
}

/* Links and helper text */
.auth-footer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
  font-size: 14px;
}

.auth-footer p {
  color: var(--subtitle);
  text-decoration: none;
  transition: color 0.2s;

}

.auth-link {
  margin-left: 8px;
  padding: 2px 8px;
  border: 1px solid var(--white-shadow);
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  color: var(--darker-navy);
  background-color: var(--white-shine);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.auth-link:active {
  background-color: var(--white-shadow);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}


/* ===== Sign Up Page ==== */
.form-help {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  margin-left: 4px;
}

.error-message,
.success-message {
  font-size: 14px;
  color: var(--subtitle);
  padding-bottom: 12px;
}